div.table {

    position: relative;
    width: 80%;
    margin: auto;
    top: 2rem;
    /*background-color: lightgray;*/
}

body {

    background-color: whitesmoke;
}

div.cell {

    position: relative;
    height: 5rem;
    border-radius: 2px;
    background-color: white;
    margin:1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.cell .name {

    position: absolute;
    top: 20%;
    left:1.5rem;
    font-size: 1.2rem;
    font-weight:700;
}

div.cell div.detail {

    position: absolute;
    left:1.5rem;
    bottom:1rem;
}

div.cell .distance {

    display: inline-block;
    width: 30px;
    font-size: 0.8rem;
    color: #9D9D9D;
    vertical-align: middle;
}

div.cell .describe {

    background-color: greenyellow;
    padding: 0 5px;
    border-radius: 2px;
    display: inline-block;
    font-size: 0.5rem;
    vertical-align: middle;
    color: white;
}

div.navigate {

    background-image: url("navigate.svg");
    background-size: 1rem;
    width: 1rem;
    height:1rem;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto;
    right: 1.5rem;
}

/**/
div.tableHeader {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 13rem;
    background-color: white;
    position: relative;
}

div.floorList {

    width:100%;
    height: 5rem;
    display: flex;
    position: absolute;
    bottom: 2rem;
}

div.floorList .floor{

    flex: 1;
    background-color: white;
    text-align: center;
}

.bordorNone {

    border:0;
}

div.centerInline {

    width:90%;
    position: relative;
    margin: auto;
    height: 2rem;
    top:10%;
}

div.centerInline label {

    display: inline-block;
    position:absolute;
    top: 0;
    bottom:0;
    margin: auto;
}

div.centerInline .sharp {

    display: inline-block;
    width: 5px;
    height: 1.5rem;
    background-color: rgba(39, 99, 197, 1);
}

div.centerInline .title {

    color: #1E7ACE;
    font-size: 1.5rem;
    left: 8%;
}

div.centerInline .update {

    background-image: url("u348.svg");
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    right: 0;
}

.bordor {

    border-right: 1px solid lightgray;
}

