.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
}

.container {

    padding: 16px 16px;
}

.card label {

    font-family: sans-serif;
    font-size: 0.6rem;
}

.card textarea {


}