.main {

    background-color: black;
}

.mainFrame {

    height: 400px;
}

.topBar {

    height:100px;
    background-color: darkolivegreen;
    text-align: center;
    line-height: 100px;
}

.sidebar-menu > li > a {

    color: white;
    display: block;
    padding:10px 5px 12px 5px;
    text-align: center;
}

.sidebar-menu > li {

    position: relative;
    margin:0;
    padding: 0;
}

.active {

    background-color: deepskyblue;
}

a:hover {

    color: blue;
    background: green;
}

.sidebar-menu {

    list-style: none;
    background-color: darkgrey;
    padding:0;
    margin:0;
}

a:link {

    text-decoration: none;
}

.sideBar {

    width: 15%;
    height: 100%;
    background-color: green;
    float: left;
}

.sectionMain {

    height: 100%;
    width:85%;
    background-color: red;
    float: left;
}