.industy {
    float: left;
    width: 45%;
    height:100%;
    border: 0px solid blue;
}

.profression {
    width:50%;
    float: left;
    height:100%;
}

.info label{

    float: left;
    width: 100px;
    text-align: right;
    line-height: 30px;
    margin: 5px 0px;
    padding: 0px 5px;
}

.info input {

    line-height: 30px;
    margin: 2px 10px;
    padding:0px 5px;
}

.info div {

    clear: left;
}

.fieldset {

    /*position: relative;*/
    top: 10px;
}

fieldset {
    padding:10px;
    margin-top:5px;
    border:1px solid #A4CDF2;
    background:#fff;
}

.guibi label {

    float: left;
    width: 40px;
    text-align: right;
    line-height: 20px;
    margin: 5px 0px;
    padding: 0px 5px;
}

.guibi input {

    line-height: 20px;
    margin: 2px 10px;
    width: 100px;
    padding:0px 5px;
}

legend {

    color:#1E7ACE;
    font-weight:bold;
    padding:3px 20px 3px 20px;
    border:1px solid #A4CDF2;
    background:#fff;
}

.guibi div {

    clear: left;
}

.proForm {

    width: 15%;
    padding: 16px 16px;
}

.proForm label {

    float: left;
    width: 100%;
    font-size: 0.5rem;
    text-align: left;
    margin: 0px 10px 0px 0px;
    line-height: 26px;
}

.proForm div {

    clear: left;
}

.proForm textarea {

    margin: 5px;
}

.pro {

    width: 100%;

    display:flex;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    display: inline-block;
    background-color: #D0F0FF;
}

.container {

    padding: 16px 16px;
}

.cards {

    width: 70%;
    white-space: nowrap;
    overflow-x: scroll;
}

.card label {

    font-family: sans-serif;
    font-size: 0.6rem;
    line-height: 26px;
}
